.calculator {
    width: 90% !important;
    max-width: 350px;
    margin: auto;
    padding: 10px;
    background-color: #120101;
    /* background-color: #f7f7f7; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: fit-content;
    height: 60px;
    background-color: #e7e7e7;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
h1 {
    text-align: center;
}
button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #ddd;
}

.equals {
    grid-column: span 1;
    background-color: #4caf50;
    color: white;
}

.zero {
    grid-column: span 1;
}

/* Style pour le conteneur scrollable */
.special-buttons {
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 10px;
}

.scrollable-buttons button {
    display: inline-block;
    margin-right: 5px;
}

/* Style pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour l'historique */
.historique {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 5px solid #110202;
    width: 100%;
    max-width: 320px; /* Assurez-vous que cela correspond à la taille de la calculatrice */
    box-sizing: border-box;
    border-radius: 5px;
}

.historique ul {
    list-style-type: none;
    padding: 0;
}

.historique li {
    margin-bottom: 10px;
    font-size: 14px;
}

.historique .heure {
    font-weight: bold;
    font-size: 20px;
    color: #555;
    text-align: left;
}
.historique .calcul {
    font-size: 20px;
    text-align: right !important;
}
.historique .resultat {
    color: red;
    font-weight: bold;
}
.historique .date {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: red;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.historique .jour {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: red;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.display-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display {
    flex: 1;
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

button {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.red {
    background-color: rgb(238, 38, 38);
    color: white;
}

.blue {
    background-color: rgb(78, 78, 230);
    color: white;
}

.zero {
    grid-column: span 2;
}

.az {
    width: 10%;
    /* right: 100%; */
    /* margin-left: 50%; */
}
/*------------ DÉBUT DE LA PARTIE TÉLÉPHONE ------------*/
@media screen and (max-width: 500px) and (max-width: 1000px) {
}

/*------------ FIN DE LA PARTIE TÉLÉPHONE ------------*/

/*------------ DÉBUT DE LA PARTIE TABLETTE ------------*/
@media screen and (max-width: 1024px) {
    .modal {
        width: 80%;
    }
}
